<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstKotlinProject"
        tools:targetApi="31">
        <activity
            android:name=".rememberscope.RemeberStateCorotinScope"
            android:exported="false"
            android:label="@string/title_activity_remenber_update_state"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".rememberscope.RemenberScope"
            android:exported="false"
            android:label="@string/title_activity_remeber_state_corotin_scope"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name="com.example.Theams.TheamsScreen"
            android:exported="false"
            android:label="@string/title_activity_remenber_scope"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".StateHosting"
            android:exported="false"
            android:label="@string/title_activity_side_effect1"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_theams_screen"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".SampleApp"
            android:exported="false"
            android:label="@string/title_activity_sample_app"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".DisposableEffect"
            android:exported="false"
            android:label="@string/title_activity_disposable_effect"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".StateExample"
            android:exported="false"
            android:label="@string/title_activity_state_hosting"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".Recomposables"
            android:exported="false"
            android:label="@string/title_activity_state_example"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".ListItems"
            android:exported="false"
            android:label="@string/title_activity_recomposables"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".Animations"
            android:exported="false"
            android:label="@string/title_activity_animations"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".ConstraintLayout"
            android:exported="false"
            android:label="@string/title_activity_effect_handlers"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".EffectHandlers"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".sideffects.SideEffect1"
            android:exported="false"
            android:label="@string/title_activity_list_items"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".CompseActivity2"
            android:exported="false"
            android:label="@string/title_activity_snackbars"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".EmptyCpmpose"
            android:exported="false"
            android:label="@string/title_activity_compse2"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".Snackbars"
            android:exported="false"
            android:label="@string/title_activity_empty_cpmpose"
            android:theme="@style/Theme.MyFirstKotlinProject" />
        <activity
            android:name=".rememberscope.RemenberUpdateState"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>